<footer class="footer py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 text-lg-start">
        &copy; EarthWise Consultancy LTD 2025<br>
        Company Number: 778310 | VAT: IE4371408TH<br>
        Registered Address: Corlateerin Upper, Crosserlough, Co. Cavan, Ireland
      </div>
      <div class="col-lg-4 my-3 my-lg-0">
        <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/company/earthwise-consultancy-ltd/" aria-label="LinkedIn">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
      <div class="col-lg-4 text-lg-end">
        <a class="link-dark text-decoration-none me-3" href="{{ site.baseurl }}/privacy-policy.html">Privacy Policy</a>
        <a class="link-dark text-decoration-none me-3" href="{{ site.baseurl }}/terms-and-conditions.html">Terms & Conditions</a>
        <a class="link-dark text-decoration-none" href="mailto:cathy@earthwiseireland.ie">Contact Us</a>
      </div>
    </div>
  </div>
</footer>
